@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,900|Droid+Serif);
html,
body
{
    font-family: 'Lato', 'Roboto', Helvetica, Arial, sans-serif;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.readtime
{
    font-weight: 300;

    position: fixed;
    top: 0;
    right: 2%;

    width: auto;
    padding: 5px 15px 5px;

    color: #fff;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background: rgba(26, 188, 156, .95);
}
.readtime img
{
    display: inline-block;

    width: 35px;

    vertical-align: middle;
}
.readtime .deets
{
    display: inline-block;

    padding-bottom: 3px;

    vertical-align: middle;
}
.readtime .deets .num
{
    font-size: 28px;
}
.readtime .deets .num:after,
.readtime .deets .num::after
{
    font-size: 20px;

    display: inline-block;

    content: 'm';
    vertical-align: bottom;
}
header
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    min-height: 50%;
    padding: 6% 30px 6%;

    color: #fff;
    background: #1abc9c;
}
header h2
{
    font-size: 3.5em;

    margin: 0;

    text-align: center;
}
span.date
{
    font-weight: bold;

    display: block;

    max-width: 55%;
    margin: 2em auto 0;

    color: #1dd2af;
}
@media screen and (min-width: 800px)
{
    span.date
    {
        max-width: 100%;
        margin-top: 4em;
    }
}
article
{
    font-size: 17px;
    line-height: 1.85;

    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 30px 15px 50px;
}
@media screen and (min-width: 800px)
{
    article
    {
        width: 55%;
        padding: 30px 0 50px;
    }
}
article img
{
    display: block;

    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    transition: width .35s ease-in-out;
}
article img:hover
{
    width: 98%;
}
a.readmore
{
    font-size: 1.1em;

    transition: color .25s;
    text-decoration: none;

    color: #1abc9c;
}
a.readmore:hover
{
    color: #0e6252;
}
blockquote
{
    font-family: 'Lato', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 2.2em;
    font-weight: 900;
    line-height: 1.25em;

    padding: 0;

    transition: padding .45s ease-out;
    letter-spacing: -2px;

    color: #1abc9c;
    text-shadow: 1px 2px 2px rgba(175, 175, 175, .25);
}
blockquote:hover
{
    padding-left: .25em;
}
#readtime,
.readtime
{
    display: none;
}
